.search
    color #FFF
    width 68%
    height 18px
    margin-top 1px
    padding 4px 10px
    font-family inherit
    border 2px solid transparent
    border-bottom 2px solid #086FAF
    border-radius 2px
    opacity .65
    background none
    &:hover
        border 2px solid #086FAF
        opacity 1
        box-shadow 0 0 10px rgba(0, 0, 0, .3)
    

#search-form .fa-times
    display none
    padding 1px .7em
    box-shadow: 0 0 3px rgb(205, 232, 255)
    cursor pointer
    color #086FAF
    background #FF8F67
    &:hover
        zoom 1.1
        padding 1px .6em
        border: 1px solid #086FAF
        box-shadow: 0 0 6px rgb(205, 232, 255)

#local-search-result, #local-search-results
    background #EEE
    margin 1em -12% auto -6%
    font-size .9rem
    text-align left
    word-break break-all
    ul.search-result-list li:hover
        font-weight normal
    li
        padding .5em 1em
        margin 0 auto
        border-bottom 2px solid lightgray
    .search-result-list li:hover
        background rgba(158,188,226,0.4)
        box-shadow 0 0 5px rgba(0, 0, 0, .2)
    a.search-result-title
        line-height 1.2
        font-weight bold
        color #708090
    p.search-result
        margin .4em auto
        line-height 1.2rem
        max-height @line-height * 3rem
        overflow hidden
        font-size .8rem
        text-align justify
        color gray
    em.search-keyword
        color #f58e90
        border-bottom: 1px dashed @color
        font-weight: bold
        font-size .85rem

p.no-result
    background #EEE
    display none
    padding .5em 1em
    margin 1em
    text-align left
    color #333
    font-family font-serif serif
    border-bottom 2px solid #4AA4DB
    &:hover
        background rgba(205, 232, 255,0.4)
        box-shadow 0 0 5px rgba(0, 0, 0, .2)

#local-search-results
    margin: 1em
  