.switch-btn {
    margin: 0 auto;
    margin-top: 23px;
    position: relative; 
    width: 70px;
    text-align: center;
    .tips-box{
        position: relative;
        top: -20px;
        left: -2px;
        .tips-arrow{
            width: 0;
            height: 0;
            border-left: 80px solid transparent;
            border-right: 80px solid transparent;
            border-bottom: 12px solid #000;
            opacity: 0.8;
            position: absolute;
            top: -12px;
            left: -42px;
        }
        .tips-inner{
            padding: 5px 8px 4px 8px;
            background-color: black;
            color: white;
            width: 160px;
            text-align: center;
            border-radius: 10px;
            position: absolute;
            z-index: 99;
            left: -53px;
            opacity: 0.8;
            li{
                padding: 4px 0;
                cursor: pointer;
                font-size: 1.2em;
                line-height 1.5
                color: #ddd;
                border-radius: 10px;
                &:hover{
                    background: #F57259;
                    color: #FFF;
                }
            }
        }
    }
    .icon{
        height: 52px;
        width: 52px;
        background: #cecece;
        border-radius: 100px;
        position: relative;
        overflow: hidden;
        display: inline-block;
        padding: 10px;
        transform: scale(0.6);
        cursor: pointer;
        position: relative;
        &:hover {
            background: #4EA2D6;
        }
    }
    
    .icon-ctn {
        width: 52px;
        height: 52px;
        position: relative;
        overflow: hidden;
        .birdhouse {
            width: 0;
            height: 0;
            position: absolute;
            top: 0;
            left: 10px;
            border-style: solid;
            border-color: transparent transparent #4d4d4d transparent;
            border-width: 0 16px 14px;
            &:after {
                content: '';
                position: absolute;
                top: 12px;
                left: -12px;
                border-style: solid;
                border-color: #4d4d4d transparent transparent transparent;
                border-width: 100px 12px;
            }
        }
        .birdhouse_holes {
            width: 12px;
            height: 12px;
            background: #ddd;
            position: absolute;
            -webkit-border-radius: 60px;
            -moz-border-radius: 60px;
            border-radius: 60px;
            left: 20px;
            top: 8px;
            &:after {
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                background: #ccc;
                bottom: -12px;
                left: 2px;
                -webkit-border-radius: 60px;
                -moz-border-radius: 60px;
                border-radius: 60px;
            }
        }
        .ribbon {
            width: 24px;
            height: 30px;
            background: #333;
            margin: 2px 0 0 14px;
            &:after{
                content: '';
                position: absolute;
                left: 14px;
                top: 18px;
                width: 0;
                height: 0;
                border: solid #333;
                border-color: transparent #333 transparent #333;
                border-width: 12px 12px 16px 12px;
            }
        }
        .loopback_l {
            width: 16px;
            height: 8px;
            border-style: solid;
            border-width: 0px 6px 6px 6px;
            border-color: #333;
            border-radius: 0 0 50px 50px;
            position: absolute;
            top: 26px;
            left: 0px;
            &:before {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8px;
                border-color: transparent transparent transparent #333;
                bottom: 10px;
                left: 10px;
            }
            &:after {
                content: '';
                width: 14px;
                height: 8px;
                border-style: solid;
                border-width: 6px 0 0 6px;
                border-color: #333;
                border-radius: 50px 0 0 0;
                position: absolute;
                left: -6px;
                bottom: 8px;
            }
        }
        .loopback_r {
            width: 16px;
            height: 8px;
            border-style: solid;
            border-width: 6px 6px 0 6px;
            border-color: #333;
            border-radius: 50px 50px 0 0;
            position: absolute;
            top: 10px;
            right: 0px;
            &:before {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 8px;
                border-color: transparent #333 transparent transparent;
                top: 9px;
                right: 10px;
            }
            &:after {
                content: '';
                width: 16px;
                height: 8px;
                border-style: solid;
                border-width: 0 6px 6px 0;
                border-color: #333;
                border-radius: 0 0 50px 0;
                position: absolute;
                left: 0px;
                top: 7px;
            }
        }
        .user {
            width: 12px;
            height: 14px;
            background: #333;
            border-radius: 5px 5px 0 0;
            margin-left: 10px;
            margin-top: 2px;
            &:before {
                content: '';
                width: 0px;
                height: 0px;
                position: absolute;
                top: 17px;
                left: 0px;
                border-style: solid;
                border-color: transparent transparent #333 transparent;
                border-width: 0 16px 6px 16px;
            }
            &:after {
                content: '';
                width: 8px;
                height: 5px;
                background: #333;
                position: absolute;
                margin-top: 13px;
                margin-left: -4px;
            }
        }
        .shoulder {
            width: 32px;
            height: 6px;
            background: #333;
            position: absolute;
            bottom: 6px;
        }
    }
}

#header .tagcloud a
    color #fff

.tagcloud a
    display inline-block
    text-decoration none
    font-weight normal
    font-size .75rem
    color #fff
    height 1.125rem
    line-height 1.125rem
    float left
    padding 0 5px 0 10px
    position relative
    border-radius 0 5px 5px 0
    margin 5px 9px 5px 8px
    opacity i-opacity
    font-family font-first
    transition: all 0.6s;
    for color, i in color-list
        &.color{i}
            background color
            &::before
                border-right-color color

    &:hover
        opacity 1
        transform scale(1.4)
        background-color #3F51B5
        border-color #3F51B5
        color #FF914E
        &::before
            border-right-color hover-color
    &:before
        content " "
        width 0
        height 0
        position absolute
        top 0
        left -1.1rem
        border .5625rem solid transparent
    &:after
        content " "
        width 4px
        height 4px
        background-color #fff
        border-radius 4px
        box-shadow 0 0 0 1px rgba(0,0,0,.3)
        position absolute
        top .4375rem
        left 2px

.article-tag::before,
.article-category::before
    float left
    color #333
    font base-font-size FontAwesome
    margin-right 5px
    margin-top (1/3)rem

.article-tag::before
    content "\f02b"
    margin-left 1em

.article-category::before
    content "\f02d"

.article-pop-out
    float left
    &:before
        color #999
        content "\f08d"
        font base-font-size FontAwesome
        float left
        margin-right 5px
        margin-top (1/3)rem
    &:after
        float left
        content ""
        margin-right 20px
        margin-top 9px
