#tocButton 
    position fixed
    left left-col-width - 100px
    top toc-top + 30px
    border-radius 6px
    width 71px
    height 29px
    font-size .9em
    text-align center
    font-weight bold
    font-family inherit
    color #FFF
    cursor pointer
    background #ee6252
    border none
    outline none
    -webkit-appearance none
    &:hover 
        color: #88acdb
  

.toc-article 
    position fixed
    width left-col-width - 40px
    top toc-top
    bottom 1em
    left 0
    margin 20px 10px 10px 10px
    padding 10px
    border-radius 10px
    overflow auto
    background: linear-gradient(200deg, #95C6D2, #DDBD73);
    

#toc 
    font-size .9rem
    line-height 1.65em
    box-shadow: 0 0 6px 2px rgba(0,183,253,0.5);
    .toc-title 
        font-weight bold
        color #457ECA
        margin-left 2em
        &.clickable 
            cursor pointer
            &:hover 
              color #786DFF
            &:active 
              color #E84F51

    ol.toc
        margin-left 0 
        padding 1em 1.5em
        /*padding-right 0*/
        li.toc-item
            list-style-type none
            i
                display inline-block
                margin-left -.9em
                width .9em
                color hsl(0, 0%, 70%)
                font-weight: bold
                cursor pointer
                &:hover
                    color black
            i.hide
                display none
            &:hover 
                background none

        a.toc-link
            color #eee
            &:visited 
                color #E84F51
            &:hover 
                color #568EDA
                text-decoration none
                background rgba(158, 188, 226, .21)

        ol.toc-child
            padding-left 1.25em
            margin 4px 0 


    if toc-nowrap
        a.toc-link 
            display inline-block
            width 100% 
            text-overflow ellipsis
            white-space nowrap
            overflow-x hidden
        li.toc-item
            line-height: 1.45em
            & > i
                position: relative
                bottom: .35em