@import "nib"
@import "_variables"
@import "_util/mixin"
@import "_util/grid"

@font-face {
  font-family:'FontAwesome';
  src:url("fonts/fontawesome-webfont.eot");
  src:url("fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),url("fonts/fontawesome-webfont.woff") format("woff"),url("fonts/fontawesome-webfont.ttf") format("truetype"),url("fonts/fontawesome-webfont.svgz#FontAwesomeRegular") format("svg"),url("fonts/fontawesome-webfont.svg#FontAwesomeRegular") format("svg");
  font-weight:normal;
  font-style:normal
}
global-reset()

ol{
  list-style: decimal;
  padding-left: 20px;
}
ul{
  list-style: none;
}
input, button
  margin: 0
  padding: 0
  &::-moz-focus-inner
    border: 0
    padding: 0

@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=#" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg")

html, body, #container
  height: 100%

body
  font-family: "微软雅黑", 'Microsoft JhengHei', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  font-size: 16px;
  background: #3f3f3f;
  color: #999;
  -webkit-overflow-scrolling: touch

::selection 
  color: white;
  background:#4094C7;

h2,h3,h4,h5,h6 {
  font-family: font-serif, font-chs;
}
h1,h2,h3{
  display: block;
}
h1 {
  font-size: 1.5em;
  font-family: "Segoe UI", font-sans, font-chs;
}
h2 {
  font-size:1.3em
}
h3 {
  font-size:1.1em
}
h4,h5,h6{
  font-size:1em
}

a {
  text-decoration:none;
  outline-width:0;
  color:#4094c7;
  outline: none;
}

.alignleft {
  float:left
}
.alignright {
  float:right
}
.clearfix {
  *zoom:1
}
.clearfix:after {
  content:"";
  display:table;
  clear:both
}
.inner {
  width:1000px;
  margin:0 auto
}
.hide{
  display: none;
}
@media screen and (max-width:1040px) {
  .inner {
    width:100%
  }
}

@-webkit-keyframes btnGroups {
    0% {
        -webkit-transform: scale(1.2,0.8)
    }

    1% {
        -webkit-transform: scale(1.18,0.82)
    }

    2% {
        -webkit-transform: scale(1.16,0.84)
    }

    3% {
        -webkit-transform: scale(1.13,0.87)
    }

    4% {
        -webkit-transform: scale(1.1,0.9)
    }

    5% {
        -webkit-transform: scale(1.07,0.93)
    }

    6% {
        -webkit-transform: scale(1.04,0.96)
    }

    7% {
        -webkit-transform: scale(1.01,0.99)
    }

    8% {
        -webkit-transform: scale(0.99,1.01)
    }

    9% {
        -webkit-transform: scale(0.97,1.03)
    }

    10% {
        -webkit-transform: scale(0.95,1.05)
    }

    11% {
        -webkit-transform: scale(0.94,1.06)
    }

    12% {
        -webkit-transform: scale(0.93,1.07)
    }

    13% {
        -webkit-transform: scale(0.93,1.07)
    }

    14% {
        -webkit-transform: scale(0.93,1.07)
    }

    15% {
        -webkit-transform: scale(0.93,1.07)
    }

    16% {
        -webkit-transform: scale(0.94,1.06)
    }

    17% {
        -webkit-transform: scale(0.94,1.06)
    }

    18% {
        -webkit-transform: scale(0.95,1.05)
    }

    19% {
        -webkit-transform: scale(0.96,1.04)
    }

    20% {
        -webkit-transform: scale(0.98,1.02)
    }

    21% {
        -webkit-transform: scale(0.99,1.01)
    }

    22% {
        -webkit-transform: scale(1,1)
    }

    23% {
        -webkit-transform: scale(1,1)
    }

    24% {
        -webkit-transform: scale(1.01,0.99)
    }

    25% {
        -webkit-transform: scale(1.02,0.98)
    }

    26% {
        -webkit-transform: scale(1.02,0.98)
    }

    27% {
        -webkit-transform: scale(1.02,0.98)
    }

    28% {
        -webkit-transform: scale(1.03,0.97)
    }

    29% {
        -webkit-transform: scale(1.03,0.97)
    }

    30% {
        -webkit-transform: scale(1.02,0.98)
    }

    31% {
        -webkit-transform: scale(1.02,0.98)
    }

    32% {
        -webkit-transform: scale(1.02,0.98)
    }

    33% {
        -webkit-transform: scale(1.02,0.98)
    }

    34% {
        -webkit-transform: scale(1.01,0.99)
    }

    35% {
        -webkit-transform: scale(1.01,0.99)
    }

    36% {
        -webkit-transform: scale(1.01,0.99)
    }

    37% {
        -webkit-transform: scale(1,1)
    }

    38% {
        -webkit-transform: scale(1,1)
    }

    39% {
        -webkit-transform: scale(1,1)
    }

    40% {
        -webkit-transform: scale(0.99,1.01)
    }

    41% {
        -webkit-transform: scale(0.99,1.01)
    }

    42% {
        -webkit-transform: scale(0.99,1.01)
    }

    43% {
        -webkit-transform: scale(0.99,1.01)
    }

    44% {
        -webkit-transform: scale(0.99,1.01)
    }

    45% {
        -webkit-transform: scale(0.99,1.01)
    }

    46% {
        -webkit-transform: scale(0.99,1.01)
    }

    47% {
        -webkit-transform: scale(0.99,1.01)
    }

    48% {
        -webkit-transform: scale(0.99,1.01)
    }

    49% {
        -webkit-transform: scale(1,1)
    }
}

@keyframes btnGroups {
    0% {
        transform: scale(1.2,0.8)
    }

    1% {
        transform: scale(1.18,0.82)
    }

    2% {
        transform: scale(1.16,0.84)
    }

    3% {
        transform: scale(1.13,0.87)
    }

    4% {
        transform: scale(1.1,0.9)
    }

    5% {
        transform: scale(1.07,0.93)
    }

    6% {
        transform: scale(1.04,0.96)
    }

    7% {
        transform: scale(1.01,0.99)
    }

    8% {
        transform: scale(0.99,1.01)
    }

    9% {
        transform: scale(0.97,1.03)
    }

    10% {
        transform: scale(0.95,1.05)
    }

    11% {
        transform: scale(0.94,1.06)
    }

    12% {
        transform: scale(0.93,1.07)
    }

    13% {
        transform: scale(0.93,1.07)
    }

    14% {
        transform: scale(0.93,1.07)
    }

    15% {
        transform: scale(0.93,1.07)
    }

    16% {
        transform: scale(0.94,1.06)
    }

    17% {
        transform: scale(0.94,1.06)
    }

    18% {
        transform: scale(0.95,1.05)
    }

    19% {
        transform: scale(0.96,1.04)
    }

    20% {
        transform: scale(0.98,1.02)
    }

    21% {
        transform: scale(0.99,1.01)
    }

    22% {
        transform: scale(1,1)
    }

    23% {
        transform: scale(1,1)
    }

    24% {
        transform: scale(1.01,0.99)
    }

    25% {
        transform: scale(1.02,0.98)
    }

    26% {
        transform: scale(1.02,0.98)
    }

    27% {
        transform: scale(1.02,0.98)
    }

    28% {
        transform: scale(1.03,0.97)
    }

    29% {
        transform: scale(1.03,0.97)
    }

    30% {
        transform: scale(1.02,0.98)
    }

    31% {
        transform: scale(1.02,0.98)
    }

    32% {
        transform: scale(1.02,0.98)
    }

    33% {
        transform: scale(1.02,0.98)
    }

    34% {
        transform: scale(1.01,0.99)
    }

    35% {
        transform: scale(1.01,0.99)
    }

    36% {
        transform: scale(1.01,0.99)
    }

    37% {
        transform: scale(1,1)
    }

    38% {
        transform: scale(1,1)
    }

    39% {
        transform: scale(1,1)
    }

    40% {
        transform: scale(0.99,1.01)
    }

    41% {
        transform: scale(0.99,1.01)
    }

    42% {
        transform: scale(0.99,1.01)
    }

    43% {
        transform: scale(0.99,1.01)
    }

    44% {
        transform: scale(0.99,1.01)
    }

    45% {
        transform: scale(0.99,1.01)
    }

    46% {
        transform: scale(0.99,1.01)
    }

    47% {
        transform: scale(0.99,1.01)
    }

    48% {
        transform: scale(0.99,1.01)
    }

    49% {
        transform: scale(1,1)
    }
}

@import "_extend"
@import "_partial/main"
@import "_partial/archive"
@import "_partial/article"
@import "_partial/archive"
@import "_partial/highlight"
@import "_partial/footer"
@import "_partial/baidushare"
@import "_partial/share"
@import "_partial/page"
@import "_partial/instagram"
@import "_partial/tagcloud"
@import "_partial/scroll"
@import "_partial/mobile-slider"
@import "_partial/post/youyan"
@import "_partial/plugins"
@import "_partial/reward"

if sidebar
  @import "_partial/sidebar"